body {
    margin: 0;
    max-width: 100%;
    padding: 0;
}

.container .overlay {
    max-width: 100%;
    height: 900px;
    background-color: black;
    opacity: 60%;
}
.container img {
    width: 100%;
    height: 900px;
    position: relative;
    bottom: 900px;
    z-index: -1;

}
.container .landing-image2 {
    width: 100%;
    height: 700px;
    position: relative;
    bottom: 2000px;
    z-index: -2;
}
.container .overlay2 {
    max-width: 100%;
    height: 850px;
    position: relative;
    background-color: black;
    bottom: 2000px;
    opacity: 70%;
    z-index: -1;
}
.container .logo {
    height: auto;
    width: 10px;
}
.container .par1, .container .par2, .container .par3{
    width: 180px;
    background-color: lightblue;
    transform: skew(-25deg);
    position: relative;
    bottom: 1600px;
    left: 500px;
    margin: 20px;
    display: inline-block;    
    border: 2px solid #ffc916;
}
.container .par1 {
    height: 400px;
    
}
.container .skew1 {
    width: 200px;
    height: 200px;
}

.container .skew2 {
    width: 200px;
    height: 200px;
}
.container .skew3 {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 500px;
    height: 200px;
    z-index: 1;
}



.container .par2 {
    height: 300px;
    bottom: 1650px;
    left: 500px;
}
.container .par3 {
    height: 350px;
    left: 470px;
    bottom: 1530px;
}
.container .kamlogo {
    width: 1;
}
.container .donate {
    background-color: #ffc916;
    border: none;
    width: 190px;
    height: 55px;
    position: relative;
    bottom: 1570px;
    left: -260px;
    font-family: ;
    font-size: 20px;
}
.donate:hover {
    background-color: #0e0abf; 
    color: #000;
}
.container .big-text1 {
    position: absolute;
    top: 280px;
    right: 70px;
    z-index: -2px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    word-wrap: break-word;
    width: 500px;
    text-align: right;
    font-family: buffalo;
    line-height: 130px;
    
}
.container .logo-text {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: larger;
    font-weight: 800;
    color: white;
}
ul {
    list-style: none;
    

}
nav a {
    text-decoration: none;
    display: block;
    color: #ffc916;
}
nav a:hover {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    opacity: 50%;

}
li {
    display: inline-block;
    position: relative;
    padding: 20px;
    bottom: 2280px;
    left: 1000px;

}
.container .SignUp {
    background-color: #ffc916;
    border: none;
    width: 80px;
    height: 30px;
    position: relative;
    bottom: 2340px;
    left: 1590px;
    font-family: ;
    font-size: 15px;
    border-radius: 5px;
}
.SignUp:hover {
    background-color: #0e0abf; /* Background color on hover */
    color: #000; /* Text color on hover */
  }
.container .ach-block {
    width: 1100px;
    height: 430px;
    background-color: #ffc916;
    border-radius: 50px;
    position: relative;
    bottom: 1650px;
    left: 320px;
    
}
.container h1 {
    color: #0e0abf;
    position: absolute;
    bottom: 50px;
    left: 350px;
}
.container .ach {
    color:black;
}
.container .ach-block-text .h11 {
    left: 900px;
    bottom: 50px;
}
.container .ach-block-text .h12 {
    left: 900px;
    bottom: -90px;
}
.container .ach-block-text .h13 {
    left: 900px;
    bottom: -220px;
}
.container .ach-block-text .h14 {
    left: 1200px;
    bottom: 50px;
}
.container .ach-block-text .h15 {
    left: 1200px;
    bottom: -90px;
}
.container .ach-block-text .h16 {
    left: 1200px;
    bottom: -220px;
}
.container .ach-block-text .h4 {
    word-wrap: break-word;
    position: absolute;
    width: 400px;
    font-weight: 300;
    left: 350px;
    bottom: -200px;

}
.container .ach-block-text .h41 {
    position: absolute;
    left: 900px;
    bottom: 0px;
    width: 100PX;

}
.container .ach-block-text .h42 {
    position: absolute;
    left: 900px;
    bottom: -140px;

}
.container .ach-block-text .h43 {
    position: absolute;
    left: 900px;
    bottom: -290px;
    width: 200px;

}
.container .ach-block-text .h44 {
    position: absolute;
    left: 1200px;
    bottom: 0px;

}
.container .ach-block-text .h45 {
    position: absolute;
    left: 1200px;
    bottom: -130px;

}
.container .ach-block-text .h46 {
    position: absolute;
    left: 1200px;
    bottom: -270px;

}
.container .volunteer{
    width: 200px;
    height: 50px;
    background-color: black;
    position: absolute;
    left: 350px;
    bottom:-100px;
    padding-right: 20px;
    color: white;
    border: none;
    font-size: 15px;
    

}
.volunteer:hover {
    background-color: #0e0abf; /* Background color on hover */
    color: white; /* Text color on hover */
  }
.fe--arrow-down {
    display: inline-block;
    position: absolute;
    top: 23px;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc916' fill-rule='evenodd' d='m6 7l6 6l6-6l2 2l-8 8l-8-8z'/%3E%3C/svg%3E");
  }
  .mi--arrow-right {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 155px;
    width: 3em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12.293 5.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L16.586 13H5a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414'/%3E%3C/svg%3E");
  }
  .container .vision {
  
  }
  .game-icons--binoculars {
    display: inline-block;
    width: 5em;
    height: 5em;
    position: absolute;
    top: 1400px;
    left: 330px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffc916' d='M186.436 86.738c-9.044 0-19.112 5.87-26.735 21.114l-6.807 13.62c2.48-.203 4.968-.31 7.455-.31c18.02 0 36.005 5.363 51.87 15.977v-30.984c-7.5-13.917-17.102-19.418-25.782-19.418zm139.128 0c-8.68 0-18.28 5.5-25.78 19.418v30.994c18.064-12.06 38.895-17.28 59.345-15.638l-6.83-13.66c-7.624-15.245-17.692-21.114-26.736-21.114zm-165.216 51.926c-19.05 0-38.08 7.693-53.74 23l-37.38 65.418c14.492-6.743 30.633-10.518 47.64-10.518c39.96 0 75.16 20.792 95.35 52.124V159.846c-15.293-14.115-33.58-21.182-51.87-21.182m192.433.033c-18.662-.306-37.39 6.74-52.997 21.145v108.845c20.19-31.33 55.39-52.123 95.348-52.123c17.01 0 33.15 3.775 47.643 10.518l-37.38-65.418c-15.35-15.003-33.95-22.66-52.612-22.967zM256 151.957c-5.113 0-11.882 2.775-25.783 9.627v133.014c7.246-5.314 16.164-8.467 25.783-8.467s18.537 3.154 25.783 8.468V161.584c-13.9-6.852-20.67-9.627-25.783-9.627m-139.13 82.607c-52.767 0-95.35 42.582-95.35 95.348s42.583 95.35 95.35 95.35c52.765 0 95.347-42.584 95.347-95.35s-42.582-95.348-95.348-95.348zm278.26 0c-52.765 0-95.347 42.582-95.347 95.348s42.582 95.35 95.348 95.35c52.767 0 95.35-42.584 95.35-95.35s-42.583-95.348-95.35-95.348zm-279.827 19.004a80 80 0 0 1 3.674.03c7.344.225 14.694 1.462 21.77 3.816c36.842 11.343 59.745 51.664 50.622 89.11c-7.652 37.743-45.455 64.51-83.595 59.17c-38.748-3.865-69.376-39.578-67.16-78.483c.167-11.41 3.133-22.336 8.2-32.124A26.09 26.09 0 0 0 73.39 312.52a26.087 26.087 0 0 0 26.09-26.084a26.09 26.09 0 0 0-17.447-24.584c9.058-4.694 19.097-7.594 29.606-8.147a84 84 0 0 1 3.663-.137zm278.26 0a80 80 0 0 1 3.673.03c7.344.225 14.696 1.462 21.774 3.816c36.84 11.343 59.742 51.664 50.62 89.11c-7.652 37.742-45.453 64.51-83.59 59.173c-38.75-3.865-69.38-39.582-67.163-78.488c.167-11.41 3.133-22.334 8.2-32.122a26.09 26.09 0 0 0 24.575 17.433a26.087 26.087 0 0 0 26.086-26.084a26.09 26.09 0 0 0-17.443-24.584c9.057-4.694 19.095-7.594 29.603-8.147q1.829-.108 3.664-.137zM256 304.13c-14.346 0-25.783 11.436-25.783 25.782s11.437 25.783 25.783 25.783s25.783-11.437 25.783-25.783s-11.437-25.78-25.783-25.78z'/%3E%3C/svg%3E");
  }
  .container .vision .vision-text h4 {
    word-wrap: break-word;
    width: 300px;
    position: absolute;
    top: 1420px;
    left: 450px;
    color: white;
    font-weight: 300;
  }
  .container .vision .vision-text h1 {
    word-wrap: break-word;
    width: 300px;
    position: absolute;
    top: 1380px;
    left: 450px;
    color: #ffc916;
   
  }
  .container .mission .mission-text h4 {
    word-wrap: break-word;
    width: 300px;
    position: absolute;
    top: 1420px;
    left: 1100px;
    color: white;
    font-weight: 300;
  }
  .container .mission .mission-text h1 {
    word-wrap: break-word;
    width: 300px;
    position: absolute;
    top: 1380px;
    left: 1100px;
    color: #ffc916;
   
  }
  .streamline--module-puzzle-3-solid {
    display: inline-block;
    width: 4em;
    height: 4em;
    top: 1400px;
    left: 990px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23ffc916' fill-rule='evenodd' d='M1.5 0h4.875v1.158a2.125 2.125 0 1 0 0 4.184v1.033H4.368a.625.625 0 0 0-.466 1.042a.875.875 0 1 1-1.305 0a.625.625 0 0 0-.465-1.042H0V1.5A1.5 1.5 0 0 1 1.5 0M0 7.625V12.5A1.5 1.5 0 0 0 1.5 14h4.875v-2.132a.625.625 0 0 1 1.042-.466a.875.875 0 1 0 0-1.305a.625.625 0 0 1-1.042-.465V7.625H5.342a2.125 2.125 0 1 1-4.184 0zm7.625 0v1.033a2.125 2.125 0 1 1 0 4.184V14H12.5a1.5 1.5 0 0 0 1.5-1.5V7.625h-2.132a.625.625 0 0 1-.466-1.042a.875.875 0 1 0-1.305 0a.625.625 0 0 1-.465 1.042zM14 6.375V1.5A1.5 1.5 0 0 0 12.5 0H7.625v2.132a.625.625 0 0 1-1.042.466a.875.875 0 1 0 0 1.305a.625.625 0 0 1 1.042.465v2.007h1.033a2.125 2.125 0 1 1 4.184 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }
  .mage--goals {
    display: inline-block;
    width: 5em;
    height: 5em;
    position: absolute;
    top: 120px;
    left: 390px;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23ffc916' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M10.66 10.66A1.9 1.9 0 0 0 10.1 12a1.9 1.9 0 0 0 1.9 1.9a1.9 1.9 0 0 0 1.34-.56'/%3E%3Cpath d='M12 6.3a5.7 5.7 0 1 0 5.7 5.7'/%3E%3Cpath d='M12 2.5a9.5 9.5 0 1 0 9.5 9.5m-5.975-3.524L12.95 11.05'/%3E%3Cpath d='M20.94 5.844L17.7 6.3l.456-3.24a.19.19 0 0 0-.313-.161l-2.148 2.137a1.9 1.9 0 0 0-.513 1.72l.342 1.72l1.72.341a1.9 1.9 0 0 0 1.72-.513L21.1 6.157a.19.19 0 0 0-.162-.313'/%3E%3C/g%3E%3C/svg%3E");
  }

  .container .overlay3 {
    max-width: 100%;
    height: 900px;
    position: relative;
    background-color: black;
    bottom: 910px;
    opacity: 70%;
    z-index: -1;
}
    .container .overlay4 {
    max-width: 100%;
    height: 710px;
    position: relative;
    background-color: black;
    bottom: 1910px;
    opacity: 70%;
}
.container .landing-image3 {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 2510px;
    z-index: -2;
    transform: rotate(180deg);
}
.container .goals .goals-square {
    background-color: #ffc916;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 300px;
 
}
.container .goals h1 {
    color: black;
    position: absolute;
    top: 100px;
    left: 520px;
    z-index: 2;
    font-size: 40px;
}
.container .goals h4 {
    color: black;
    position: absolute;
    top: 230px;
    left: 350px;
    z-index: 2;
    font-size: 20px;
    word-wrap: break-word;
    width: 400px;
}
.container .goals .goals-picture {
    background-color: white;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 800px;
}
.ph--diamond-fill {
    display: inline-block;
    width: 10em;
    height: 10em;
    position: absolute;
    left: 350px;
    top: 80px;
    z-index: 1;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M240 128a15.85 15.85 0 0 1-4.67 11.28l-96.05 96.06a16 16 0 0 1-22.56 0l-96-96.06a16 16 0 0 1 0-22.56l96.05-96.06a16 16 0 0 1 22.56 0l96.05 96.06A15.85 15.85 0 0 1 240 128'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .container .landing-image4 img{
    position: absolute;
    bottom: -600px;
    width: 100%;
    height: 100%;
  }
  .container .landing-image4 .square-outline {
        width: 500px;
        height: 400px;
        border: 2px solid white;
        position: absolute;
        bottom: -450px;
        left: 150px;
  }
  .container .landing-image4 .square-outline2 {
    width: 500px;
    height: 400px;
    border: 2px solid white;
    position: absolute;
    bottom: -450px;
    left: 1000px;
}
.ph--hand-fist {
    display: inline-block;
    width: 6em;
    height: 6em;
    position: absolute;
    bottom: 270px;
    left: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M200 80h-16V64a32 32 0 0 0-56-21.13a32 32 0 0 0-55.79 17.55A32 32 0 0 0 24 88v40a104 104 0 0 0 208 0v-16a32 32 0 0 0-32-32m-48-32a16 16 0 0 1 16 16v16h-32V64a16 16 0 0 1 16-16M88 64a16 16 0 0 1 32 0v40a16 16 0 0 1-32 0ZM40 88a16 16 0 0 1 32 0v16a16 16 0 0 1-32 0Zm176 40a88 88 0 0 1-175.92 3.75A31.93 31.93 0 0 0 80 125.13a31.93 31.93 0 0 0 44.58 3.35a32.2 32.2 0 0 0 11.8 11.44A47.88 47.88 0 0 0 120 176a8 8 0 0 0 16 0a32 32 0 0 1 32-32a8 8 0 0 0 0-16h-16a16 16 0 0 1-16-16V96h64a16 16 0 0 1 16 16Z'/%3E%3C/svg%3E");
  }
  .material-symbols-light--security-rounded {
    display: inline-block;
    width: 6em;
    height: 6em;
    position: absolute;
    bottom: -170px;
    left: 1200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 19.9q2.425-.75 4.05-2.962T17.95 12H12V4.144L6.404 6.221q-.193.077-.298.231Q6 6.606 6 6.798v4.733q0 .194.05.469H12zm0 .942q-.136 0-.287-.025t-.28-.075Q8.48 19.617 6.74 16.926T5 11.1V6.817q0-.51.295-.923t.755-.6l5.385-2q.292-.106.565-.106t.566.106l5.384 2q.46.187.755.6t.295.923V11.1q0 3.135-1.74 5.826t-4.693 3.816q-.13.05-.28.075t-.287.025'/%3E%3C/svg%3E");
  }
  .container .landing-image4 .outline-text1 li {
    color: white;
    display: block;
    left: -460px;
    bottom: 2350px;
    text-align: center;

  }
  .container .landing-image4 .outline-text2 li {
    color: white;
    display: block;
    left: 400px;
    bottom: 2600px;
    text-align: center;

  }